body {
	margin: 0;
	padding: 0;
	font-family: georgia;
    color: #fff;
    background-color: #748A9B ;
}

a {
    font-weight: bold;
    color: #A7D3F6;
    &:hover,
    &:active,
    &:focus {
    	color: #fff;
    }
}

abbr {
    border-bottom: 1px dotted  #fff;
}

.page-wrapper {
	width: 750px;
	margin: 0 auto;
	background-color: #849AA9;

	&:after {
		content:"\200B"; 
		display:block; 
		height:0; 
		clear:both;
	}
}

.header {
	position: relative;
	left: -7px;
	width: 101.5%;
	height: 8.5em;
	background: transparent url("../image/header.png") repeat top left;
	opacity: 0.8;
	box-shadow: 0 3px 3px #444;

	&:before {
		content: "storm weather by dave shea";
		position: absolute;
		left: 75px;
		top: 850px;
		padding-top: 6px;
		width: 105px;
		height: 40px;
		color:rgba(0,0,0,0.2);
		font-size: 10px;
		text-align: center;
		border-radius: 40px/25px;
		background-color: rgba(255,255,255,0.1);
	}

	&:after {
		content: "";
		position: absolute;
		left: 7px;
		top: 0.40em;
		z-index: -1;
		width: 745px;
		height: 7.5em;
		background-color: transparent;
		background: radial-gradient(circle at top left, transparent 10px,white 12px,rgba(94,140,170,0.5) 0) top left,
	                radial-gradient(circle at top right, transparent 10px,white 12px, rgba(94,140,170,0.5) 0) top right,
	                radial-gradient(circle at bottom left, transparent 10px,white 12px, rgba(94,140,170,0.5) 0) bottom left,
	                radial-gradient(circle at bottom right, transparent 10px,white 12px, rgba(94,140,170,0.5) 0) bottom right,
	                linear-gradient(to bottom, white 1px,transparent 0) 11px 0,
	                linear-gradient(to bottom, white 1px,transparent 0) 361px 0,
	                linear-gradient(to bottom, white 1px,transparent 0) 11px 119px,
	                linear-gradient(to bottom, white 1px,transparent 0) 361px 119px,
	                linear-gradient(to right, white 1px,transparent 0) 0 10px,
	                linear-gradient(to right, white 1px,transparent 0) 0 49px,
	                linear-gradient(to left, white 1px,transparent 0) 373px 10px,
	                linear-gradient(to left, white 1px,transparent 0) 373px 49px;
	    background-size:  50% 50%;
	    background-repeat: no-repeat;
	}

	h1 {
		display: inline-block;
		float: left;
		margin: 40px 0 0 30px;
		width: 280px;
		text-align: center;
		color: rgba(255,255,255,1);
		font-weight: lighter;
		border-top: medium double rgba(255,255,255,0.8);
	}

	h2 {
		margin: 0 0 0 30px;
		width: 280px;
		text-align: center;
		color: rgba(255,255,255,1);
		font-size: 9px;
		font-weight: lighter;
		font-style: italic;
		text-transform: lowercase;
		border-bottom: medium double rgba(255,255,255,0.8);
	}
}

.introduce {
	box-sizing: border-box;
	height: 211px;
	margin: 30px 0;
}

.introduce-img {
	float: left;
	padding: 20px;
	width: 33.333%;
	height: 211px;
	border-width: 0 30px;
	border-style: solid;
	border-color: transparent; 
	background-image: url("../image/wallpaper.jpg");
	background-color: green;
	background-clip: content-box;
	box-sizing: border-box;
	box-shadow: inset 0 0 0 20px #fff;
	opacity: 0.8;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		margin: 4px 0 0 3px;
		width: 160px;
		height: 164px;
		background-color: transparent;
		background: radial-gradient(circle at top left, transparent 10px,white 12px,rgba(255,255,255,0.3) 0) top left,
	                radial-gradient(circle at top right, transparent 10px,white 12px, rgba(255,255,255,0.3) 0) top right,
	                radial-gradient(circle at bottom left, transparent 10px,white 12px, rgba(255,255,255,0.3) 0) bottom left,
	                radial-gradient(circle at bottom right, transparent 10px,white 12px, rgba(255,255,255,0.3) 0) bottom right,
	                linear-gradient(to bottom, white 1px,transparent 0) 11px 0,
	                linear-gradient(to bottom, white 1px,transparent 0) 70px 0,
	                linear-gradient(to bottom, white 1px,transparent 0) 11px 163px,
	                linear-gradient(to bottom, white 1px,transparent 0) 70px 163px,
	                linear-gradient(to right, white 1px,transparent 0) 0 10px,
	                linear-gradient(to right, white 1px,transparent 0) 0 70px,
	                linear-gradient(to left, white 1px,transparent 0) 80px 10px,
	                linear-gradient(to left, white 1px,transparent 0) 80px 70px;
	    background-size:  50% 50%;
	    background-repeat: no-repeat;
	}

	&:first-child {
		border-right-width: 15px;

		span {
			&:first-child{
				font-size: 13px;
				line-height: 30px;
				text-indent: 35px;
			}

			&:nth-child(2) {
				font-size: 11px;
			}

			&:last-child {
				font-size: 18px;
				text-indent: 100px;
			}
		}
	}

	&:nth-child(2) {
		border-width: 0 22.5px;
		span {
			&:first-child {
				font-size: 16px;
				text-indent: 9px;
				padding-top: 85px;
			}

			&:nth-child(2) {
				font-size: 20px;
				text-indent: 100px;
			}

			&:last-child {
				font-size: 12px;
				padding: 11px 3px 0 0;
				text-align: right;
			}
		}
	}

	&:last-child {
		border-left-width: 15px;

		span {
			display: none;
		}
	}

	span {
		display: block;
		text-indent: 7px;
	}

}

.article {
	float: right;
	display: inline-block;
	width: 420px;
	margin-right: 30px;
	text-align: left;

	h3 {
		margin: 0;
		font-size: 14px;
	}

	p {
		margin-top: 0;
		font-size: 11px;
		line-height: 15px;
		text-align: justify;
	}

	&:first-of-type {
		float: left;
		margin-left: 30px;
		width: 210px;

		p {
			font-style: italic;
			font-size: 12px;
			text-align: justify;
			line-height: 20px;
		}
	}
}

.contentInfo {
	float: right;
	margin-right: 30px;
	width: 420px;
	font-size: 11px;
	line-height: 15px;
	text-align: justify;
}

.footer {
	float: right;
	clear: both;
	margin-right: 30px;

	a {
		padding: 6px;
		border: 1px;
		margin-right: 10px;
		font-size: 11px;
		font-weight: bold;

		&:hover,
		&:active,
		&:focus {
			color: grey;
			border-color: transparent;
			background-color: #fff;
		}
	}
}

.side-line {
	float: right;
	clear: both;
	width: 463px;
}

.link-style {
	&:first-of-type {
		position: absolute;
		top: 1.5em;
		left: 50%;
		margin: 0 0 0 -29px;
		width: 368px;
		color: grey;
		font-weight: normal;

		ul {
			width: 380px;
		}

		li {
			display: inline;
			font-size: 11px;
			font-weight: 400;
			line-height: 12px;
			letter-spacing:	-1px;
		}

		h3 {
			color: #fff;
			font-size: 11px;
			font-weight: 700;
			text-transform: lowercase;
		}

		a {
			color: #fff;
			font-weight: 400;

			&:hover,
			&:active,
			&:focus {
				color:  #a7d3f6;
			}
		}
	}

	h3 {
		margin: 0;
		font-size: 14px;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin-right: 5px;
			font-size: 10px;
			list-style-type: none;
		}
	}
}

@media screen and (max-width:768px) {
	.page-wrapper {
		width: 100%;
		height: auto;
	}

	.header {
		position: static;
		width: 100%;

		&:before,
		&:after {
			display: none;
		}

		h1 {
			float: none;
			display: inline-block;
			width: 100%;
			text-align: center;
			margin: 0;
			padding: 35px  0 0 0;
			border-width: 0;
		}

		h2 {
			width: auto;
			text-align: center;
			border-bottom: 0 double rgba(255,255,255,0.8);
		}
	}

	.introduce {
		margin: 25px 0;
		width: 100%;
	}

	.introduce-img {
		margin-bottom: 25px;
		width: 50%;
		background-clip: padding-box;
		background-size: cover;
		border-width: 0 20px 0 20px;
		box-shadow: 0 3px 4px transparent;

		&:before {
			display: none;
		}

		&:first-child {
			border-width: 0 0 0 20px;
		}
		&:nth-child(2) {
			border-width: 0 20px 0 0;
		}
		&:last-child {
			width: 100%;
			border-width: 0 20px;
		}
	}

	.article {
		float: none;
		margin: 0 20px;
		width: auto;

		&:first-of-type {
			float: none;
			margin: 0 20px;
			width: auto;
		}
	}

	.contentInfo {
		float: none;
		margin: 0 20px;
		width: auto;
	}

	.side-line {
		float: none;
		margin: 0 20px;
		padding-bottom: 30px;
	}

	.link-style {
		width: 96%;
		margin-top: 1em;
		margin-left: 0;

		&:first-of-type {
			position: static;
			margin-top: 1em;
			margin-left: 0;
			width: 96%;
		}
	}

	.footer {
		float: none;
		margin: 15px 20px;
	}
}

@media screen and (max-width: 480px) {
	.header {
		h1 {
			font-size: 2em;
		}
	}

	.introduce {
		height: auto;
	}

	.introduce-img {
		float: none;
		display: block;
		width: 100%;

		&:first-child,
		&:nth-child(2) {
			border-width: 0 20px;
		}

		&:nth-child(2),
		&:last-child {
			width: 100%;
		}
	}

	.side-line {
		width: 90%;
	}

	.link-style {
		&:first-of-type {
			ul {
				width: 100%;
				height: auto;
			}
		}
	}
}