$bloosoms-img: url("../image/blossoms.jpg");
$zen-bg-img: url("../image/zen-bg.jpg");
$h1-img: url("../image/h1.gif");
$cr2-img: url("../image/cr2.gif");
$menu-img: url("../image/menu.png");

$direction: (t: top,
			 r: right,
			 b: bottom,
			 l:left,
			 tl: top left,
			 tr: top right,
			 bl: bottom left,
			 br: bottom right,
			 135deg: 135deg);

$repeat-style:(nr: no-repeat,
			   rx:repeat-x,
			   ry:repeat-y);

$grey:(alpha-1: rgba(200,200,200,1),
	   alpha-0: rgba(200,200,200,0),
	   alpha-00: rgba(180,180,180,0),
	   alpha-06: rgba(180,180,180,0.6),
	   alpha-08: rgba(180,180,180,0.8),
	   alpha-10: rgba(180,180,180,1));

$white:(alpha-1: rgba(255,255,255,1),
	   alpha-0: rgba(255,255,255,0),
	   alpha-00: rgba(255,255,255,0),
	   alpha-07: rgba(255,255,255,0.7),
	   alpha-08: rgba(255,255,255,0.8),
	   alpha-10: rgba(255,255,255,1));

$to-zero: (margin: 0,
		   padding: 0);

$body-font-color: #555753;
$a-font-color: #b7a5df;
$special-font-color: #b7a5df;

@mixin gradient($direction,$color...) {
		background: linear-gradient(to $direction, $color);
}

@mixin position-style($left,$width,$height) {
		left: $left;
		width: $width;
		height: $height;
}

@mixin max-screen($res){
  @media only screen and ( max-width: $res )
  {
    @content;
  }
}

@mixin min-screen($res){
  @media only screen and ( min-width: $res )
  {
    @content;
  }
}


body { 
	@each $style, $size in $to-zero {
  		#{$style}: $size;
	}
	color: $body-font-color;
	font-size: 12px;
	font-family: georgia,​sans-serif;
	line-height: 1.9em;
	background: #fff $bloosoms-img map-get($repeat-style,nr) map-get($direction,br);
}

.page-wrapper {
	margin: 0 0 20px 0;
	background: transparent $zen-bg-img map-get($repeat-style,nr) map-get($direction,tl);

	&:before {
	    top: 688px;
	    right: 145px;
	    width: 1px;
	    height: 300px;
	    @include gradient(map-get($direction,t),map-get($grey,alpha-1),map-get($grey,alpha-0));
	}
}

.header {
	margin: 10px 150px 15px 110px;
	height: 106px;
	background-clip: padding-box;
	
	&:after,
	h1:after {
		content: "";
		position: absolute;
		top: 18px;
	}

	&:after {
		@include position-style(102px,400px,1px);
		@include gradient(map-get($direction,r),map-get($grey,alpha-1),map-get($grey,alpha-0));
	}

	h1:after {
		@include position-style(102px,1px,300px);
		@include gradient(map-get($direction,b),map-get($grey,alpha-0),map-get($grey,alpha-1));
	}

	h1 {
		float: left;
		clear: both;
		margin: 25px 0 0 10px;
		width: 219px;
		height: 87px;
		color: transparent;
		font-size: 40px;
		font-weight: lighter;
		line-height: 76%;//行间距
		white-space: nowrap;
		background: transparent $h1-img map-get($repeat-style,nr) map-get($direction,tl);
		overflow: hidden;
	}

	h2 {
		float: right;
		clear: right;
		margin: 70px 33px 0 0;
		height: 22px;
		color: rgb(196,193,178);
		font-weight: lighter;
		white-space: nowrap;
		overflow: hidden;
	}
	
}

.main {
	margin: 0 150px 0 110px;
}

.summary {
	float: left;
	clear:both;
	margin: 19px 20px 20px 10px;
	width:160px;
	font-size: 13.2px;
	font-family: georgia;
	font-style: italic;
	text-align: center;

	p {
		line-height: 29px;
	}
}

.content {
	clear: right;
	padding : 0 30px 10px 10px;

	p {
		margin-top: 0;
		text-align: justify;
		line-height: 22.667px;
	}

	&:before {
	    top: 0;
	    @include position-style(0,86.55%,955px);
	    float: left;
	    margin: 10px 150px 0 110px;
	    z-index: -1;
	    background-color: #fff;
	    @include gradient(map-get($direction,135deg),map-get($white,alpha-07) 0%,map-get($white,alpha-08) 10%,map-get($white,alpha-10) 24%,
		map-get($white,alpha-10) 50%,map-get($white,alpha-10) 75%,map-get($white,alpha-08) 85%,map-get($white,alpha-07) 100%);
	}

}

.article {
	font-size: 12px;
}

.presentation-image {
	height: 110px;
	background: $cr2-img map-get($repeat-style,nr) map-get($direction,tl);
}

.footer {
	clear: both;
	margin-left:  110px;
	margin-right: 150px;
	padding-bottom: 40px;
	text-align: center;

	a {
		margin-right: 25px;
		font-size: 14px;
	}
}

a {
	color: $a-font-color;
    font-weight: bold;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
    	text-decoration: underline;
    }
}



h3 {
	margin-bottom: 0;
	color: #7d775c;
	font-style: italic;
	font-family: georgia;
	font-size: 16.8px;
	font-weight: normal;
	letter-spacing: 1px;
}

.special-color {
	&:hover,
	&:focus,
	&:active {
		color: $special-font-color;
	}
}

.small-title {
	position: absolute;
	top: 11px;
	@include position-style(12px,30px,115px);
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 8px;
	background-color: #bfbda8;
	writing-mode: tb-rl;
}

.side-line {
	position: absolute;
	top: 50px;
	right: 0px;
	padding-bottom: 20px;
	width:145px;

	.link-style {
		.font-blur {
			color: rgb(179,174,148);
		}

		.line-style-none{
			border-bottom: 0;
		}
	}
}

.link-style {
    padding: 1px 10px 1px 10px;
    background-color: #DED9BC;

    h3 {
    	margin: 25px 0 0 5px;
    	color: rgb(190,184,152);
        font: 11px georgia;
        letter-spacing: 1px;
        text-shadow: -1px 1px 1px #fff;
    }

    li:before {
    	content: "";
    	display: block;
    	margin: 5px 0 5px -10px;
    	width: 145px;
    	height: 1px;
    	@include gradient(map-get($direction,r),map-get($grey,alpha-00) 0%,map-get($grey,alpha-06) 20%,map-get($grey,alpha-08) 30%,
    		map-get($grey,alpha-10) 40%,map-get($grey,alpha-10) 60%,map-get($grey,alpha-08) 70%,map-get($grey,alpha-06) 80%,
    		map-get($grey,alpha-00) 100%);
    }

    ul {
    	@each $style, $size in $to-zero {
  			#{$style}: $size;
		}
    }

    li {
    	padding: 0;
        font-size: 10px;
        font-family: verdana,​sans-serif;
        line-height: 13px;
        font-weight: 400;
    	list-style-type: none;

    	a {
    		color: #988f5e;
    		font-weight: 700;
    	}
    }

    &:last-of-type {
    	ul{
    	    padding: 0 0 20px;
    	}
    }
}

@include min-screen(1600px) {
	body {
		height: 990px;
	}

	.page-wrapper,
	.content {
		&:before{
			content: "";
		    position: absolute;
		}
	}

	.link-style:last-of-type ul {
	    padding: 0 0 20px;
	}
}

@include min-screen(1200px) {

	.page-wrapper {
		&:before {
		    top: 1110px;
		    right: 150px; 
		    width: 400px;
		    height: 1px;
		    @include gradient(map-get($direction,l),map-get($grey,alpha-1),map-get($grey,alpha-0));
	    }

	    &:after {
	    	top: 810px;
	    }
	}

	.content {
		&:before{
		    width: 81%;
		    height: 1020px;
		}
	 	
	}
}

@include max-screen(768px) {
	body {
		@include gradient(45deg,map-get($white,alpha-1),map-get($white,alpha-1));
	}

	.header {
		padding-top: 80px; 

		h1 {
			margin-top: 0;
		}

		h2 {
		    position: absolute;
		    right: 0;
		    margin-right: 10px; 
		}


	}

	.main {
		margin-right: 0;
	}

	.summary {
		margin: 0 0 20px 10px;
		width: 93.5%;
		text-align: left;

		p {
			margin-bottom: 0;
	    	line-height: 15px;
		}
	}

	.content {
	    padding-right: 50px;
	}

	.side-line {
		position: absolute;
		left: 100px;
		top: 50px;
		width: 520px;
		min-height: 60px;

		div {
			display: inline-block;
			float: left;
		} 

		.presentation-image {
			display: none;
		}


	}

	.link-style {
		position: relative;
		@include position-style(0,160px,30px);
		margin: 5px 0 5px 9px; 
		padding: 0;
		text-align: center;
		border-radius: 6px;
		background: rgba(236,236,236,0.7) $menu-img map-get($repeat-style,nr) 95% 50%;

		h3 {
			display: inline-block;
			margin: 5px 20px 5px 10px;
			font-size: 17px;
			text-align: center;
		}

		ul {
			display: inline-block;
			position: relative;
			top: -25px;
			width: 100%;
			height: 25px;
			padding:0;
			border-radius: 5px;

			&:hover {
				top: -30px;
				height: 310px;
				z-index: 3;
				text-align: center;
				background-color: rgba(236, 236, 236, 1);
				border-radius: 6px;

				li {
					display: block;
					width: 156px;
					margin: 0 5px 5px;
				}
			}
		}

		li {
			display: none;
			margin: 0;
			white-space: wrap;

			&:before {
				background-image: none; 
			}
		}


	}

	div.link-style:nth-child(3) ul:hover {
		height: 70px;
	}

	div.link-style:nth-child(4) ul:hover {
		height: 145px;
	}
	
	.footer {
		margin-right: 0;

		&:before,
		&:after {
			content: "";
			display: inline-block;
			position: absolute;
			right: 0;
		}

		&:before {
			margin: 20px 5px 0 0;
			width: 100%;
			height: 1px;
			@include gradient(left,map-get($white,alpha-1),map-get($white,alpha-1)); 
		}

		&:after {
			margin: -280px 5px 0 0;
			width: 1px;
			height: 300px;
			@include gradient(top,map-get($white,alpha-1),map-get($white,alpha-1));  
		}


	}

}

@include max-screen(640px) {
	.page-wrapper {
		background-image : none;
	}

	.header {
		margin: 10px 0 0 20px;
		padding-top: 10px;

		h2 {
			margin-top: 10px;
		}

		&:after,
		h1:after {
			@extend %vanish;
		}
	}

	.summary {
		width: 95%;
	}

	.main {
		margin-left: 20px;
		padding-top: 50px;
	}

	%vanish {
		display: none;
	}
	
	.content {
	    padding-right: 30px;
	}

	.small-title {
		@extend %vanish;
	}

	.footer {
		margin: 0 48px 0 20px;
		&:before,
		&:after {
			@extend %vanish;
		}
	}

	.side-line {
		top: 140px;
		left: 20px;
		width:440px;

		div {
			&:nth-child(2) {
				width: 150px;
				ul:hover li{
					width: 140px;
				}
			}
		}
	}

	.link-style {
		width: 130px;

		h3 {
			font-size: 14px;
		}

		ul {
			&:hover li {
				width: 120px;
			}
		}
	}

}

@include max-screen(480px) {
	.header {
		h1::after,
		&:after {
			left: 5px;
		}

		h2 {
			margin-top: 100px;
		}
	}

	.main {
		padding-top: 140px;
	}

	.side-line {
		top: 150px;
		width: 90%;

		div {
			display: block;
			float: none;
		}
	}

	.link-style {
		margin-bottom: 10px;
		width: 150px;

		ul {
			&:hover li {
				width: 140px;
			}
		}
	}

}

@include max-screen(320px) {
	.content {
		padding-right: 30px;
	}

	.header {
		h1:after,
		&:after {
			display: none;
		}
	}

	.side-line {
		min-width: 200px;
	}

	.footer {
		margin-left: 20px;
		border-width: 0;
	}
}