@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  color: #555753;
  font-size: 12px;
  font-family: georgia,​sans-serif;
  line-height: 1.9em;
  background: #fff url("../image/blossoms.jpg") no-repeat bottom right; }

.page-wrapper {
  margin: 0 0 20px 0;
  background: transparent url("../image/zen-bg.jpg") no-repeat top left; }
  .page-wrapper:before {
    top: 688px;
    right: 145px;
    width: 1px;
    height: 300px;
    background: linear-gradient(to top, #c8c8c8, rgba(200, 200, 200, 0)); }

.header {
  margin: 10px 150px 15px 110px;
  height: 106px;
  background-clip: padding-box; }
  .header:after,
  .header h1:after {
    content: "";
    position: absolute;
    top: 18px; }
  .header:after {
    left: 102px;
    width: 400px;
    height: 1px;
    background: linear-gradient(to right, #c8c8c8, rgba(200, 200, 200, 0)); }
  .header h1:after {
    left: 102px;
    width: 1px;
    height: 300px;
    background: linear-gradient(to bottom, rgba(200, 200, 200, 0), #c8c8c8); }
  .header h1 {
    float: left;
    clear: both;
    margin: 25px 0 0 10px;
    width: 219px;
    height: 87px;
    color: transparent;
    font-size: 40px;
    font-weight: lighter;
    line-height: 76%;
    white-space: nowrap;
    background: transparent url("../image/h1.gif") no-repeat top left;
    overflow: hidden; }
  .header h2 {
    float: right;
    clear: right;
    margin: 70px 33px 0 0;
    height: 22px;
    color: #c4c1b2;
    font-weight: lighter;
    white-space: nowrap;
    overflow: hidden; }

.main {
  margin: 0 150px 0 110px; }

.summary {
  float: left;
  clear: both;
  margin: 19px 20px 20px 10px;
  width: 160px;
  font-size: 13.2px;
  font-family: georgia;
  font-style: italic;
  text-align: center; }
  .summary p {
    line-height: 29px; }

.content {
  clear: right;
  padding: 0 30px 10px 10px; }
  .content p {
    margin-top: 0;
    text-align: justify;
    line-height: 22.667px; }
  .content:before {
    top: 0;
    left: 0;
    width: 86.55%;
    height: 955px;
    float: left;
    margin: 10px 150px 0 110px;
    z-index: -1;
    background-color: #fff;
    background: linear-gradient(to 135deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.8) 10%, white 24%, white 50%, white 75%, rgba(255, 255, 255, 0.8) 85%, rgba(255, 255, 255, 0.7) 100%); }

.article {
  font-size: 12px; }

.presentation-image {
  height: 110px;
  background: url("../image/cr2.gif") no-repeat top left; }

.footer {
  clear: both;
  margin-left: 110px;
  margin-right: 150px;
  padding-bottom: 40px;
  text-align: center; }
  .footer a {
    margin-right: 25px;
    font-size: 14px; }

a {
  color: #b7a5df;
  font-weight: bold;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    text-decoration: underline; }

h3 {
  margin-bottom: 0;
  color: #7d775c;
  font-style: italic;
  font-family: georgia;
  font-size: 16.8px;
  font-weight: normal;
  letter-spacing: 1px; }

.special-color:hover, .special-color:focus, .special-color:active {
  color: #b7a5df; }

.small-title {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 30px;
  height: 115px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 8px;
  background-color: #bfbda8;
  writing-mode: tb-rl; }

.side-line {
  position: absolute;
  top: 50px;
  right: 0px;
  padding-bottom: 20px;
  width: 145px; }
  .side-line .link-style .font-blur {
    color: #b3ae94; }
  .side-line .link-style .line-style-none {
    border-bottom: 0; }

.link-style {
  padding: 1px 10px 1px 10px;
  background-color: #DED9BC; }
  .link-style h3 {
    margin: 25px 0 0 5px;
    color: #beb898;
    font: 11px georgia;
    letter-spacing: 1px;
    text-shadow: -1px 1px 1px #fff; }
  .link-style li:before {
    content: "";
    display: block;
    margin: 5px 0 5px -10px;
    width: 145px;
    height: 1px;
    background: linear-gradient(to right, rgba(180, 180, 180, 0) 0%, rgba(180, 180, 180, 0.6) 20%, rgba(180, 180, 180, 0.8) 30%, #b4b4b4 40%, #b4b4b4 60%, rgba(180, 180, 180, 0.8) 70%, rgba(180, 180, 180, 0.6) 80%, rgba(180, 180, 180, 0) 100%); }
  .link-style ul {
    margin: 0;
    padding: 0; }
  .link-style li {
    padding: 0;
    font-size: 10px;
    font-family: verdana,​sans-serif;
    line-height: 13px;
    font-weight: 400;
    list-style-type: none; }
    .link-style li a {
      color: #988f5e;
      font-weight: 700; }
  .link-style:last-of-type ul {
    padding: 0 0 20px; }

@media only screen and (min-width: 1600px) {
  body {
    height: 990px; }
  .page-wrapper:before,
  .content:before {
    content: "";
    position: absolute; }
  .link-style:last-of-type ul {
    padding: 0 0 20px; } }

@media only screen and (min-width: 1200px) {
  .page-wrapper:before {
    top: 1110px;
    right: 150px;
    width: 400px;
    height: 1px;
    background: linear-gradient(to left, #c8c8c8, rgba(200, 200, 200, 0)); }
  .page-wrapper:after {
    top: 810px; }
  .content:before {
    width: 81%;
    height: 1020px; } }

@media only screen and (max-width: 768px) {
  body {
    background: linear-gradient(to 45deg, white, white); }
  .header {
    padding-top: 80px; }
    .header h1 {
      margin-top: 0; }
    .header h2 {
      position: absolute;
      right: 0;
      margin-right: 10px; }
  .main {
    margin-right: 0; }
  .summary {
    margin: 0 0 20px 10px;
    width: 93.5%;
    text-align: left; }
    .summary p {
      margin-bottom: 0;
      line-height: 15px; }
  .content {
    padding-right: 50px; }
  .side-line {
    position: absolute;
    left: 100px;
    top: 50px;
    width: 520px;
    min-height: 60px; }
    .side-line div {
      display: inline-block;
      float: left; }
    .side-line .presentation-image {
      display: none; }
  .link-style {
    position: relative;
    left: 0;
    width: 160px;
    height: 30px;
    margin: 5px 0 5px 9px;
    padding: 0;
    text-align: center;
    border-radius: 6px;
    background: rgba(236, 236, 236, 0.7) url("../image/menu.png") no-repeat 95% 50%; }
    .link-style h3 {
      display: inline-block;
      margin: 5px 20px 5px 10px;
      font-size: 17px;
      text-align: center; }
    .link-style ul {
      display: inline-block;
      position: relative;
      top: -25px;
      width: 100%;
      height: 25px;
      padding: 0;
      border-radius: 5px; }
      .link-style ul:hover {
        top: -30px;
        height: 310px;
        z-index: 3;
        text-align: center;
        background-color: #ececec;
        border-radius: 6px; }
        .link-style ul:hover li {
          display: block;
          width: 156px;
          margin: 0 5px 5px; }
    .link-style li {
      display: none;
      margin: 0;
      white-space: wrap; }
      .link-style li:before {
        background-image: none; }
  div.link-style:nth-child(3) ul:hover {
    height: 70px; }
  div.link-style:nth-child(4) ul:hover {
    height: 145px; }
  .footer {
    margin-right: 0; }
    .footer:before, .footer:after {
      content: "";
      display: inline-block;
      position: absolute;
      right: 0; }
    .footer:before {
      margin: 20px 5px 0 0;
      width: 100%;
      height: 1px;
      background: linear-gradient(to left, white, white); }
    .footer:after {
      margin: -280px 5px 0 0;
      width: 1px;
      height: 300px;
      background: linear-gradient(to top, white, white); } }

@media only screen and (max-width: 640px) {
  .page-wrapper {
    background-image: none; }
  .header {
    margin: 10px 0 0 20px;
    padding-top: 10px; }
    .header h2 {
      margin-top: 10px; }
  .summary {
    width: 95%; }
  .main {
    margin-left: 20px;
    padding-top: 50px; }
  .header:after,
  .header h1:after, .small-title, .footer:before, .footer:after {
    display: none; }
  .content {
    padding-right: 30px; }
  .footer {
    margin: 0 48px 0 20px; }
  .side-line {
    top: 140px;
    left: 20px;
    width: 440px; }
    .side-line div:nth-child(2) {
      width: 150px; }
      .side-line div:nth-child(2) ul:hover li {
        width: 140px; }
  .link-style {
    width: 130px; }
    .link-style h3 {
      font-size: 14px; }
    .link-style ul:hover li {
      width: 120px; } }

@media only screen and (max-width: 480px) {
  .header h1::after, .header:after {
    left: 5px; }
  .header h2 {
    margin-top: 100px; }
  .main {
    padding-top: 140px; }
  .side-line {
    top: 150px;
    width: 90%; }
    .side-line div {
      display: block;
      float: none; }
  .link-style {
    margin-bottom: 10px;
    width: 150px; }
    .link-style ul:hover li {
      width: 140px; } }

@media only screen and (max-width: 320px) {
  .content {
    padding-right: 30px; }
  .header h1:after, .header:after {
    display: none; }
  .side-line {
    min-width: 200px; }
  .footer {
    margin-left: 20px;
    border-width: 0; } }
