/*background:
    background-color :默认transparent透明
    background-image :url()/none,默认none
    background-repeat :
					    repeat默认，垂直水平方向重复
					    repeat-x
					    repeat-y
					    no-repeat
    background-attachment :
					    scroll默认值，别的东西滚动它也滚动
					    fixed别人滚它不滚
    background-position :水平和垂直方向直角坐标系,默认坐标系原点(左上角)
 *
 *
 *
*/
/*text-indent: 100%;控制缩进,意思为缩进一个父元素宽度
	 *允许为负值
	 *默认值length，0
	 *%，表示缩进父元素宽度的百分比
	 *inherit,表示继承父元素的text-indent属性的值
*/
/**white-space设置如何处理元素内的空白
 *默认值normal，表示空白会被浏览器忽略
 *pre，表示空白会被浏览器保留
 *nowrap,表示文本不会换行，在同一行上继续，直到遇到<br/>标签为止
 *pre-wrap,表示保留空白符序列，并正常进行换行
 *pre-line，表示合并空白符序列，并保留换行符
 *inherit,表示继承父元素的white-space属性的值
*/
/*overflow: hidden;当内容溢出元素框时所做处理
 *默认值visible，内容不被修剪，呈现在元素框之外
 *hidden，内容被修剪，多余内容不可见
 *scroll，内容被修剪，多余内容滚动条伺候
 *auto，内容若被出来则出现滚动条
 *inherit，继承父元素的overflow属性的值
*/


body {
	margin:0;
	padding: 0; 
	color:#555753;
	font-size:12px;
	font-family:georgia,​sans-serif;
	line-height: 1.9em;
	background: #fff url("../image/blossoms.jpg") no-repeat scroll right bottom;
}
.page-wrapper {
	margin:0 0 20px 0;
	background: transparent url("../image/zen-bg.jpg") no-repeat scroll left top;
}
.header {
	margin-top : 10px;
	margin-left : 110px;
	margin-right : 150px;

	height : 106px;
	background-clip: padding-box;
	/*background: rgba(255,255,255,0.8);;*/
	//background-color : #fff;
}

.header:after {
    position : absolute;
    top : 18px;
    left : 102px;
    width : 400px;
    height : 1px;
    content:"";
    background: linear-gradient(to right, rgba(200,200,200,1), rgba(200,200,200,0));
 }

.header h1:after {
	position : absolute;
    top : 18px;
    left : 102px;
    width : 1px;
    height : 300px;
    content:"";
    background: linear-gradient(to bottom, rgba(200,200,200,1), rgba(200,200,200,0));
}

.header h1 {
	float : left;
	clear : both;
	margin: 25px 0 0 10px;
	width:219px;
	height:87px;
	color:transparent;
	font-size: 40px;
	font-weight: lighter;
	line-height: 76%;//行间距
	white-space: nowrap;
	overflow: hidden;
	background: transparent url("../image/h1.gif") no-repeat top left;
}
.header h2 {
	float :right;
	clear : right;
	margin-top : 70px;
	margin-right: 33px;
	height : 22px;
	color : rgb(196,193,178);
	font-weight : lighter;
	white-space : nowrap;
	overflow : hidden;
	

}
.main {
	margin:0 150px 0 110px;
	/*background-color : rgba(255,255,255,0.8);;*/
}
.summary {
	float: left;
	clear:both;
	margin: 19px 20px 20px 10px;
	width:160px;
	font-size: 13.2px;
	font-family: georgia;
	font-style: italic;
	text-align: center;
}
.summary p {
	line-height: 29px;
}
.content {
	clear : right;
	padding : 0 30px 10px 10px;

}
.content p {
	margin-top : 0;
	text-align : justify;
	line-height: 22.667px;
}
.article {
	font-size: 12px;
	/*line-height: normal;*/
}
.article:first-of-type {
	position: relative;
	top: 10px;
	left : 0px;
}
.presentation-image {
	height: 110px;
	background: url("../image/cr2.gif") no-repeat scroll left top;
}

.footer {
	clear : both;
	margin-left :  110px;
	margin-right : 150px;
	padding-bottom : 40px;

	text-align :center;
	/*background-color : rgba(255,255,255,0.8);*/
}
.footer a {
	margin-right: 25px;
	font-size: 14px;
}

a {
	color: #b7a5df;
    font-weight: bold;
    text-decoration: none;
}
a:hover,a:active,a:focus {
	text-decoration: underline;
}
h3 {
	margin-bottom: 0;
	color: #7d775c;
	font-style: italic;
	font-family: georgia;
	font-size: 16.8px;
	font-weight: normal;
	letter-spacing: 1px;
}

.special-color:hover,.special-color:focus,
.special-color:active {
	color:#b7a5df;
}
.small-title {
	position : absolute;
	top : 11px;
	left : 12px;
	width : 30px;
	height :115px;
	font-size : 20px;
	line-height : 30px;
	letter-spacing: 8px;
	background-color : #bfbda8;
	writing-mode : tb-rl;
}

.side-line .link-style .font-blur {
	color : rgb(179,174,148);
}

.side-line {
		position: absolute;
		top: 50px;
		right: 0px;
		width:145px;
	}

	.side-line .link-style {
	    padding: 1px 10px 1px 10px;
	    background-color: #DED9BC;
	}

	.link-style h3 {
		margin :25px 0 0 5px;
		color: rgb(190,184,152);
	    font: 11px georgia;
	    letter-spacing: 1px;
	    text-shadow : -1px -1px 1px #fff;
	}

	.side-line .link-style li:before {
		content : "";
		display : block;
		margin: 5px 0 5px -10px;
		width : 145px;
		height :1px;
		background-image: linear-gradient(to right, rgba(30,30,30,0) 0%,rgba(180,180,180,0.6) 20%,
			rgba(180,180,180,0.8) 30%,rgba(180,180,180,1) 40%,rgba(180,180,180,1) 60%,rgba(180,180,180,0.8) 70%,
			rgba(180,180,180,0.6) 80%,rgba(30,30,30,0) 100%);
	}
	.side-line .link-style ul {
		margin:0;
		padding: 0;
	}
	.side-line .link-style li {
		padding : 0;
	    font-size: 10px;
	    font-family : verdana,​sans-serif;
	    line-height: 13px;
	    font-weight : 400;
		list-style-type: none;
	}
	.side-line .link-style .line-style-none{
		border-bottom:0;
	}
	.side-line .link-style li a {
		color:#988f5e;
		font-weight: 700;
	}

@media screen and (device-aspect-ratio: 9/16) {
	body {
		background-image: linear-gradient(45deg,#fff,#fff);
	}

	.header {
		padding-top : 80px; 
	}

	.header h1 {
		margin-top : 0;
	}

	.header h2 {
	    position: absolute;
	    right: 0;
	    margin-right : 10px; 
	}

	.main {
		margin-right : 0;
	}

	.summary {
		width: 100%;
		margin-bottom : 0;
		text-align: left;
	}

	.summary p {
		margin-bottom : 0;
    	line-height: 15px;
	}

	.content {
	    padding-right: 10px;
	}
	.side-line {
		position: absolute;
		display: flex;
		left :0px;
		top : 0px;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 60px;
	}

	.side-line div {
		display: inline-block;

	}
	.link-style {
		display : flex;
		position: relative;
		left : 120px;
		justify-content: center;
		align-items: center;
		height: 30px;
		margin :20px 0 0 40px; 
		border: solid 1px #aaa;
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
		border-radius: 5px;
		background: #fff url("../image/menu.png") no-repeat 95% 50%;
	}

	.presentation-image {
		position: absolute;
		right: 0;
		top: 0;
		width : 140px;  
	}

	.side-line .link-style h3 {
		display : inline-block;
		margin: 7px 20px 0 0;
		text-align: center;
	}

	.side-line .link-style ul {
		display : inline-block;
		position: relative;
		top: -25px;
		width: 100%;
		height : 15px;
		padding: 5px 0;
		border-radius: 5px;
	}
	.side-line .link-style li {
		display: none;
		margin: 0;
	}

	.side-line .link-style ul:hover {
		top : 0;
		height : 110px;
		text-align : left;
	}
	.side-line.link-style ul:hover li {
		display: block;
		width : 156px;
		margin: 0 0 5px;
		background: rgba(240,240,240,0.8);
	}

	.footer {
		margin-right: 0;
	}
	.footer:before {
		content: "";
		display : inline-block;
		position: absolute;
		right: 0;
		margin: 20px 5px 0 0;
		width : 100%;
		height : 1px;
		background-image: linear-gradient(to left,rgba(200,200,200,1) 0%,
			rgba(230,230,230,0.8) 20%,rgba(230,230,230,0.7) 30%,
			rgba(230,230,230,0.5) 40%,rgba(230,230,230,0.1) 50%,#fff);  
	}

	.footer:after {
		content: "";
		display : inline-block;
		position: absolute;
		right: 0;
		margin: -280px 5px 0 0;
		width : 1px;
		height : 300px;
		background-image: linear-gradient(to top,rgba(200,200,200,1) 0%,
			rgba(230,230,230,0.9) 20%,rgba(230,230,230,0.8) 50%,
			rgba(230,230,230,0.7) 60%,rgba(230,230,230,0.1) 70%,#fff);  
	}

}

@media screen and (max-width: 768px) {
	body {
		background-image: linear-gradient(45deg,#fff,#fff);
	}

	.header {
		padding-top : 80px; 
	}

	.header h1 {
		margin-top : 0;
	}

	.header h2 {
	    position: absolute;
	    right: 0;
	    margin-right : 10px; 
	}

	.main {
		margin-right : 0;
	}

	.summary {
		width: 100%;
		margin-bottom : 0;
		text-align: left;
	}

	.summary p {
		margin-bottom : 0;
    	line-height: 15px;
	}

	.content {
	    padding-right: 10px;
	}

	.side-line {
		position: absolute;
		display: flex;
		left :0px;
		top : 0px;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 60px;
	}

	.side-line div {
		display: inline-block;
		float : left;

	}
	.link-style {
		display : flex;
		position: relative;
		left : 0;
		justify-content: center;
		align-items: center;
		height: 30px;
		margin :20px 0 0 10px; 
		border: solid 1px #aaa;
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
		border-radius: 5px;
		background: #fff url("../image/menu.png") no-repeat 95% 50%;
	}

	.presentation-image {
		position: absolute;
		/*float: right;*/
		right: 0;
		top: 0;
		width : 140px;  
	}

	.side-line .link-style h3 {
		display : inline-block;
		margin: 7px;
		margin-right: 20px;
		text-align: center;
	}

	.side-line .link-style ul {
		display : inline-block;
		position: relative;
		top: -25px;
		width: 100%;
		height : 25px;
		padding: 5px 0;
		border-radius: 5px;
	}
	.side-line .link-style li {
		display: none;
		margin: 0;
	}

	.side-line .link-style ul:hover {
		top : 0;
		height : 300px;
		text-align : left;
	}
	.side-line .link-style ul:hover li {
		display: block;
		width : 156px;
		margin: 0 0 5px;
		background: rgba(243,243,243,0.9);
	}

	.footer {
		margin-right: 0;
	}
	.footer:before {
		content: "";
		display : inline-block;
		position: absolute;
		right: 0;
		margin: 20px 5px 0 0;
		width : 100%;
		height : 1px;
		background-image: linear-gradient(to left,rgba(200,200,200,1) 0%,
			rgba(230,230,230,0.8) 20%,rgba(230,230,230,0.7) 30%,
			rgba(230,230,230,0.5) 40%,rgba(230,230,230,0.1) 50%,#fff);  
	}

	.footer:after {
		content: "";
		display : inline-block;
		position: absolute;
		right: 0;
		margin: -280px 5px 0 0;
		width : 1px;
		height : 300px;
		background-image: linear-gradient(to top,rgba(200,200,200,1) 0%,
			rgba(230,230,230,0.9) 20%,rgba(230,230,230,0.8) 50%,
			rgba(230,230,230,0.7) 60%,rgba(230,230,230,0.1) 70%,#fff);  
	}

}


@media screen and (min-width: 1300px) {
	.page-wrapper:before {
	    position : absolute;
	    top : 1110px;
	    right : 150px; 
	    width : 400px;
	    height : 1px;
	    content:"";
	    background: linear-gradient(to left, rgba(200,200,200,1), rgba(200,200,200,0));
	 }

	 .page-wrapper:after {
	 	position : absolute;
	    top : 810px;
	    right : 145px;
	    width : 1px;
	    height : 300px;
	    content:"";
	    background: linear-gradient(to top, rgba(200,200,200,1), rgba(200,200,200,0));
	 }

	 .article:first-of-type  h3{
		position: relative;
		top: 10px;
		left : -40px;
		padding-bottom: 10px;
	}

	.content:before {
		float :left;
	 	position : absolute;
	    top : 0;
	    left : 0;
	    width :81%;
	    margin :10px 150px 0 110px;
	    height : 1020px;
	    content : "";
	    z-index : -1;
	    background-color : #fff;
	    background: linear-gradient(135deg, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.8)10%,rgba(255,255,255,1)24%,
	    	rgba(255,255,255,1)50%,rgba(255,255,255,1) 75%,rgba(255,255,255,0.8) 85%,rgba(255,255,255,0.7) 100%);
	 	
	 }
}

@media screen and (min-width: 1600px) {
	.page-wrapper:before {
	    position : absolute;
	    top : 980px;
	    right : 145px; 
	    width : 400px;
	    height : 1px;
	    content:"";
	    background: linear-gradient(to left, rgba(200,200,200,1), rgba(200,200,200,0));
	 }

	 .page-wrapper:after {
	 	position : absolute;
	    top : 680px;
	    right : 145px;
	    width : 1px;
	    height : 300px;
	    content:"";
	    background: linear-gradient(to top, rgba(200,200,200,1), rgba(200,200,200,0));
	 }

	.content:before {
		float :left;
	 	position : absolute;
	    top : 0;
	    left : 0;
	    width :86.55%;
	    margin :10px 150px 0 110px;
	    height : 970px;
	    content : "";
	    z-index : -1;
	    background-color : #fff;
	    background: linear-gradient(135deg, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.8)10%,rgba(255,255,255,1)24%,
	    	rgba(255,255,255,1)50%,rgba(255,255,255,1) 75%,rgba(255,255,255,0.8) 85%,rgba(255,255,255,0.7) 100%);
	 	
	 }

}
 




/*@media screen and (min-width: 641px) {
	.side-line {
		position: absolute;
		top: 50px;
		right: 0px;
		width:145px;
	}

	.side-line .link-style {
	    padding: 1px 10px 1px 10px;
	    width: 130px;
	    background-color: #DED9BC;
	}
	.side-line .link-style h3 {
		margin :25px 0 0 5px;
		color: rgb(190,184,152);
	    font: 11px georgia;
	    letter-spacing: 1px;
	    text-shadow : 0 -2px 1px #fff;
	}

	.side-line .link-style li:before {
		content : "";
		display : block;
		margin: 5px 0 5px -10px;
		width : 145px;
		height :1px;
		background-image: linear-gradient(to right, rgba(30,30,30,0) 0%,rgba(180,180,180,0.6) 20%,
			rgba(180,180,180,0.8) 30%,rgba(180,180,180,1) 40%,rgba(180,180,180,1) 60%,rgba(180,180,180,0.8) 70%,
			rgba(180,180,180,0.6) 80%,rgba(30,30,30,0) 100%);
	}
	.side-line .link-style ul {
		margin:0;
		padding: 0;
	}
	.side-line .link-style li {
		padding : 0;
	    font-size: 10px;
	    font-family : verdana,​sans-serif;
	    line-height: 13px;
	    font-weight : 400;
		list-style-type: none;
	}
	.side-line .link-style .line-style-none{
		border-bottom:0;
	}
	.side-line .link-style li a {
		color:#988f5e;
		font-weight: 700;
}
*/
}
