body {
	margin : 0;
	padding : 0;
	color : #AD7C77;
	background-color : #FFD7C4;
}

a {
	color : #E98376;
	font-weight : bold;
	text-decoration : none;
}

a:hover,a:active {
	text-decoration : underline;
}

abbr {
    border-bottom: 1px dotted #b27f66;
}

p {
	margin-top : 0;
	font-size : 11px;
	font-family : verdana;
}

h3 {
	margin-bottom : 0;
	font-weight : bold;
	font-family : sans-serif;
	font-size : 16px;
	text-transform : lowercase;

}

.page-wrapper:before {
	position : absolute;
	top :62px;
	left :0;
	height : 5px;
	width : 100%;
	content :"";
	background-color : rgba(125,125,125,0.3);

}

.header {
	height :62px;
	background-color : #fff;
}
.header h1 {
	display : inline-block;
	margin :0;
	width : 258px; 
	height :62px;
	color : transparent;
	background : #fff url("../image/h1.gif") no-repeat top left; 
}

.header h2 {
	display : inline-block;
	position : relative;
	top :0;
	left :300px;
	margin : 0;
	width : 260px;
	height : 28px;
	color : #b36962;
	font-size : 18px;
	font-weight : lighter;
	animation:moveHead 1.8s ease 1s 1 normal;
}

@keyframes moveHead
{
	from {top : 15px;}
	to {top : 0px;}
}

.content {
	margin: 0 0 0 220px;
	padding-top : 30px; 
	background-color : #FFC5A9;
}

.introduce {
	margin : 30px 15px 0 40px;
	padding : 0 0 0 20px;
	height : 180px;
	border : 1px solid #FFBEA1;
	background-color : #FFD7C4;
}
.introduce a {
	color :#b27f66;
}
.introduce-img {
	position : absolute;
	top : 105px;
	left : 240px;
	z-index : 2;
	padding-right: 20px;
	width : 410px;
	height : 182px;
	color : #fff;
	font-size : 14px;
	background : transparent  url("../image/splash.png") no-repeat top left;
	border : 4px solid #fff;
	box-shadow : -1px -1px 1px #ccc;
}

.introduce p:last-child{
	margin: 40px 0 0 415px ;
	font-size : 9px;
}

.introduce .introduce-img p {
	margin: 0;
	padding: 0;
}

.expand {
	position: relative;
	top :30px;
	left : 10px;
	font-size : 20px;
}
.normal {
	display : inline-block;
	position: relative;
	top :15px;
	left : 30px;
}
.appendix {
	font-size : 20px;
	position: relative;
	top :15px;
	left : 30px;
}
.extra-expand {
	position: relative;
	top :80px;
	left : 0;
	font-size : 23px;
	text-align : right;
}

.constrict {
	position: relative;
	top :80px;
	left : 85px;
	font-size : 11px;
	
}

.summary-img+p {
	margin-left : 420px;
	margin-top : 40px;
}

.article {
	margin-left : 40px;
	margin-right : 20px;
}

.contentInfo {
	margin-left : 40px;
	margin-right : 20px;
	padding-bottom : 10px;
	border-bottom : 1px solid #FFCDB5;
	font-size : 11px;
}

.footer {
	margin-left : 40px;
	margin-right : 30px; 
	padding-top : 10px;
	text-align : right;
	font-size : 11px;
}

.footer a{
	margin-left : 10px;
	padding : 2px 6px;
}

.footer a:hover,.footer a:active {
	background-color : #FFD7BF; 
	font-weight : bold;
	text-decoration : none;
}
.side-line {
	position : absolute;
	top : 65px;
	left : 0px;
	padding-top : 40px;
	padding-bottom : 76px;
	width : 200px;
}

.link-style div {
	display : inline-block;
	width : 200px;
	height : 15px;
	margin : 16px 0 0 0;
	padding : 0;
	text-align : right;
	background-color : rgb(241,197,175);

}

.side-line h3 {
	display : inline-block;
	margin : 0 20px 0 0;
	font-weight : normal;
	text-align : center;
	background-color : #FFD7C4;
}


.link-style ul {
	margin :0;
	padding : 0;
}

.link-style ul li {
	margin-bottom : 6px;
	padding : 2px 0 0 25px;
	font-family : verdana;
	font-size : 10px;
	line-height : 2.5ex;
	list-style-type : none;
}

.small-title {
	position : absolute;
	top : 612px;
	left : 20px;
	width :170px;
	height : 48px;
	color : #fff;
	font-size : 12px;
	font-weight : 400;
	border : 4px solid #fff;
	background : transparent  url("../image/splash.png") no-repeat bottom right;
}
.small-title span:last-child {
	margin-left: 137px;
}

